.publications-list li + li,
.latest-publications__item + .latest-publications__item {
    margin-top: 1em;
}

.publications-scholar {
    margin-bottom: 0;
    text-align: center;
}

.publications-scholar + .publications-list > h2:first-child {
    margin-top: 1em;
}

.latest-publications {
    margin-top: 2.4em;
    padding-top: 1em;
    border-top: 1px solid rgba(invert($background-color), 0.2);
}

.latest-publications > h2:first-child {
    margin-top: 0.9em;
}

.latest-publications__item {
    display: block;
}

.latest-publications__marker {
    margin-right: 0.4em;
}

.latest-publications__title {
    display: block;
    padding-left: 1.4em;
    text-indent: -1.4em;
}

.latest-publications__details {
    display: block;
    margin-top: 0.25em;
    padding-left: 1.4em;
}

.latest-publications__all {
    margin-top: 1em;
}
